/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* universal style */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    overflow-x: hidden;
}

.hov:hover {
    transform: scale(1.05);
}

.hov-btn:hover {
    transform: scale(1.05);
    background-color: #FFFFFF;
    color: #DD0000;
}

.transition {
    transition: all 0.3s ease-in-out;
}

/* banner style */
header {
    width: 100%;
    /* For all the text in header */
    color: #FFFFFF;
}

.banner {
    width: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    height: 645px;
    background-color: #161616;
    border-radius: 30px;
}

.banner-details {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-details h1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 80px;
}

.banner-details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 16px 0 30px;
}

.banner-details button {
    border: none;
    width: 187px;
    height: 56px;
    background: #DD0000;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 400;
}

.banner-details button i {
    margin-left: 5px;
}

.banner-img {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: 20px;
}

.banner-img img {
    width: 100%;
    height: 580px;
}

/* blogs style */
main {
    width: 100%;
    margin: 130px 0;
    display: flex;
    justify-content: center;
}

.blogs {
    width: 82%;
    display: flex;
    justify-content: space-between;
}

/* menubar style */
.menubar {
    width: 312px;
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #161616;
    border-radius: 10px;
    
}

.menu-btn {
    width: 240px;
    height: 53px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    color: #161616;
}
#mark {
    background-color: #DD0000;
}

#mark a {
    color: #FFFFFF;
}

/* blog-container style */
.blogs-container {
    width: 72%;
    display: grid;
    grid-template-columns: repeat(3, minmax(212px,1fr));
    grid-gap: 24px;
    margin-left: 24px;
}

.blogs-container article {
    max-height: 420px;
    border: 1px solid rgba(22, 22, 22, 0.2);
    border-radius: 10px;
}

.article-cover {
    min-height: 106px;
    width: 100%;
}

.article-cover img {
    width: 100%;
}

.article-details {
    height: 187px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.topic {
    width: 100px;
    height: 32px;
    border: 1px solid #161616;
    font-weight: 500;
    font-size: 16px;
    color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-details h3 {
    font-weight: 600;
    font-size: 18px;
    color: #161616;
    margin: 15px 0 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 143px;
    height: 26px;
}

.time i,
.comment i {
    color: rgba(22, 22, 22, 0.7);
}

/* hiding btn for the big display */
.viewall-btn {
    display: none;
}

/* upcoming match change style */
#match {
    width: 312px;
    height: 242px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#match>div {
    width: 252px;
    height: 136.18px;
}

.flags {
    width: 252px;
    height: 56.18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flags img {
    width: 93.04px;
    height: 56.18px;
}

#match .detail {
    width: 202px;
    height: 60px;
    text-align: center;
    margin: 20px auto;
}

#match .detail h4 {
    font-weight: 600;
    font-size: 20px;
    color: #161616;
}

#match #match-p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
    margin-top: 10px;
}

.group {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.group h1 {
    color: #DD0000;
    text-align: center;
}

.gmenu-btn {
    border-bottom: 1px solid #DD0000;
    cursor: pointer;
}

.gmenu-btn a {
    color: #4D4D4D;
}
/* footerpart style */
footer {
    height: 444px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #161616;
}

footer div,
hr {
    margin-bottom: 50px;
}

.f-heading {
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
}

hr {
    width: 1320px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.f-menu a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #B9B9B9;
    margin: 0 20px;
}

.f-social i {
    font-size: 20px;
    color: #B9B9B9;
    margin: 0 10px;
}

/* responsiveness for laptop L */
@media screen and (min-width:1440px) and (max-width:1599px) {
    /* banner style */
    .banner{
        height: 600px;
    }
    .menubar {
        width: 290px;
    }
    /* blogs style */
    .blogs-container article {
        height: 392px;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {

    /* bannerstyle */
    .banner {
        width: 90%;
        height: 445px;
    }

    .banner-img {
        width: 45%;
    }

    .banner-img img {
        height: 425px;
    }

    .banner-details h1 {
        font-size: 2.4rem;
        line-height: 50px;
    }

    /* mainstyle */
    .blogs {
        width: 90%;
    }

    .menubar {
        width: 280px;
    }

    .menu-btn {
        width: 230px;
        height: 50px;
        font-size: 14px;
    }

    /* blogs-container style */
    .blogs-container {
        grid-template-columns: repeat(3, minmax(192px, 1fr));
    }

}

@media screen and (min-width:834px) and (max-width:1023px) {
    /* bannerpart style */
    .banner {
        height: 398px;
    }

    .banner-details h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .banner-details span {
        display: none;
    }

    .banner-details p {
        font-size: 14px;
        line-height: 24px;
    }

    .banner-details button {
        width: 161px;
        height: 48px;
    }

    .banner-img img {
        width: 100%;
        height: 340px;
    }

    /* mainpart */
    main {
        margin-top: 70px;
    }

    .blogs {
        flex-direction: column;
    }
    /* menubar style */
    .menubar {
        flex-direction: row;
        width: 100%;
        height: 64px;
        justify-content: space-between;
        background-color: white;
    }

    .menu-btn {
        width: 210px;
        border: 1px solid #E8E8E8;
    }
    /* blogcontainer style */
    .blogs-container {
        width: 100%;
        margin-top: 24px;
        margin-left: 0;
        grid-template-columns: repeat(2, minmax(212px, 1fr));
    }

    .t-hide {
        display: none;
    }
    .btn-container{
        margin-top: 50px;
    }
    .viewall-btn {
        display: block;
        width: 131px;
        height: 47px;
        background: #DD0000;
        border-radius: 5px;

        border: none;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
        justify-items: center;
        margin: 0 auto;
    }
    /* footerpart style */
    hr{
        width: 734px;
    }
    .f-menu {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        line-height: 50px;
        width: 75%;
    }
}
@media screen and (min-width:375px) and (max-width:833px) {

    /* banner style */
    .banner {
        width: 334px;
        height: 472px;
        flex-direction: column;
        margin-bottom: 0;
    }

    .banner-details {
        height: 178px;
        width: 258px;
        order: 1;
        text-align: center;
        align-items: center;
    }

    .banner-details h1 {
        font-size: 22px;
        line-height: 33px;
    }

    .banner-details p {
        font-size: 14px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.8);
        margin: 8px 0 16px;
    }

    .banner-details p span {
        display: none;
    }

    .banner-details button {
        width: 161px;
        height: 40px;
    }

    .banner-img {
        order: 2;
        align-items: flex-end;
        margin-left: 0;
        position: relative;
        bottom: -24.3px;
    }

    .banner-img,
    .banner-img img {
        height: 245px;
        width: 233px;
    }

    /* mainpart style */
    main {
        margin-top: 50px;
    }

    .blogs {
        flex-direction: column;
        align-items: center;
    }

    .menubar {
        flex-direction: column;
        /* width: 210px; */
        height: 200px;
        background-color: #FFFFFF;
        justify-content: space-between;
    }

    .menu-btn {
        width: 210px;
        height: 48px;
        text-align: center;
        border: 1px solid #E8E8E8;
        font-weight: 600;
        font-size: 20px;

    }

    .blogs-container {
        grid-template-columns: repeat(1, minmax(212px, 1fr));
        margin-left: 0;
        width: 100%;
        margin-top: 30px;
    }

    .blogs-container article {
        height: 388px;
    }

    .article-details h3 {
        font-weight: 600;
        font-size: 18.7675px;
        line-height: 28px;
    }

    /* footer style */
    footer {
        height: 512px;
    }

    hr {
        width: 75%;
    }

    .f-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .f-menu a {
        margin-bottom: 10px;
    }

    .f-social {
        margin-bottom: 10px;
    }
}